/*!* #################### 全局 #################### *!*/
/** {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	border: 0;*/
/*}*/

/*html, body, #main {*/
/*	color: #555;*/
/*	height: 100%;*/
/*}*/

/*aside {*/
/*	width: 300px;*/
/*	height: 100%;*/
/*	position: fixed;*/
/*	background: #262a30;*/
/*}*/

/*nav {*/
/*	height: 50px;*/
/*	background: #e1d8a5;*/
/*}*/

/*#content {*/
/*	height: 100%;*/
/*	padding-left: 300px;*/
/*	background: #f9f7ed;*/
/*}*/
/*!* #################### 全局 #################### *!*/

/*!* #################### 导航 #################### *!*/
/*nav #menu {*/
/*	float: right;*/
/*	padding-right: 20px;*/
/*}*/
/*nav ul li {*/
/*	float: left;*/
/*	padding: 10px;*/
/*	list-style: none;*/
/*}*/
/*nav ul li a{*/
/*	color: #555;*/
/*	font-size: 12px;*/
/*	text-decoration: none;*/
/*}*/
/*nav ul li a:hover {*/
/*	border-bottom: 1px solid;*/
/*}*/
/*!* #################### 导航 #################### *!*/

/* #################### 侧边栏 #################### */
/* 搜索框 */
aside input {
	width: 20rem;
	height: 50px;
	margin: 0;
	border: 0;
	padding: 0;
	left: 0;
	font-size: 14px;
	background: #131417;
	text-indent: 20px;
	outline: none;
	color: #87daff;
	position: absolute;
}

/* 搜索图标 */
aside #search #search-icon {
	position: absolute;
	top: 0;
	right: 0;
	color: #999;
	font-size: 20px;
	width: 5rem;
	height: 50px;
	background: #131417;
	text-align: center;
	line-height: 2.5;
	text-decoration: none
}
aside #search #search-icon:hover {
	cursor: pointer;
	color: #87daff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

aside #search .icon-active{
	color: #e06c75;
}

/*!* 滚动条 *!*/
/*aside {*/
/*	overflow: auto;*/
/*}*/

/* 树目录位置 */
aside #tree {
	padding-top: 55px
}

/* 树目录 */
aside ul {
	padding: 0px 5px 5px 20px;
}
aside ul li {
	list-style: none;
	line-height: 25px;
}
aside ul li a {
	color: #999;
	font-size: 14px;
	text-decoration: none

}
aside ul li a:hover {
	color: #ccc;
	border-bottom: 1px solid #ccc;
	cursor:pointer;
}
aside #tree .active a,
aside #tree .active a:hover {
	color: #87daff;
	border-bottom: 1px solid #87daff;
}
/* #################### 侧边栏 #################### */


/* #################### 点击目录动画 #################### */
aside #tree ul ul {
	display: none;
}
/* #################### 点击目录动画 #################### */

/* #################### 文章索引 #################### */

aside #toc {
	padding-top: 55px;
}

aside #toc a.read{
	/*color: #e06c75;*/
	color: #87daff;
	border-bottom: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

aside #toc a{
	color: #999;
	border-bottom: 0;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

aside #toc a:hover{
	/*color: #87daff;*/
	color: #e5c07b;
	padding-left: 20px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
}

/* #################### 文章索引 #################### */



/*!* #################### 自适应 #################### *!*/

/*!* 当浏览器窗口不超过最大800px时(意思就是小于800px时) *!*/

/*@media screen and (max-width: 800px) {*/
/*	aside {*/
/*		display: none;*/
/*	}*/

/*	#content {*/
/*		padding-left: 0;*/
/*	}*/

/*	canvas#live2dcanvas {*/
/*		display: none;*/
/*	}*/
/*}*/

/*!*竖屏*!*/
/*@media all and (orientation : portrait) {*/

/*	aside {*/
/*		display: none;*/
/*	}*/

/*	#content {*/
/*		padding-left: 0;*/
/*	}*/

/*	canvas#live2dcanvas {*/
/*		display: none;*/
/*	}*/

/*}*/

/*!* #################### 自适应 #################### *!*/





